body {
  font-weight: bold;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/keeble-children-removable-peel-and-stick-wallpaper-panel.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dog-icon {
  margin-right: 10px;
}

.login-card {
  background-image: url(./assets/floor-tile.png);
  text-align: center;
  float: none;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form {
  background-image: url(./assets/floor-tile.png);
  text-align: center;
  float: none;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dog-card {
  font-size: 15px;
  background-image: url(./assets/vintage-concrete.png);
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.dog-img {
  width: 100%;
  height: 200px;
}

.dog-info {
  text-align: left;
}

.dog-name {
  font-size: 24px;
}


.nav-buttons {
  margin-left: 50%;
  margin-bottom: -34px;
}

.nav-brand {
  margin-left: 30px
}

.logout-button {
  margin-bottom: 36px;
  margin-top: 4px;
}

.login-button {
  margin-bottom: 33px;
}

.guest-greeting {
  margin-top: 7px;
    margin-left: 10px;
}

.add-button {
  margin-bottom: 35px;
  margin-top: 4px;
  margin-right: 14px;
}

.user-greeting {
  margin-top: 7px;
  margin-left: 7px;
}

.dogs-button {
    margin-bottom: 35px;
    margin-top: 4px;
    margin-right: 12px;
}

.add-dog-form {
  background-image: url(./assets/floor-tile.png);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.add-dog-alert {
  margin-left: 300px;
}

.form-input {
  margin-left: 76px;
}

.img-form-input {
  margin-left: 150px;
}

.nav-bar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.headers {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: inherit;
}