body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/keeble-children-removable-peel-and-stick-wallpaper-panel.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dog-icon {
  margin-right: 10px;
}

.login-card {
  text-align: center;
}

.dog-card {
  background-image: url(./assets/vintage-concrete.png)
}